.linear {
    background: linear-gradient(244deg, #fc466b, #3f5efb);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 22%}
    50%{background-position:100% 79%}
    100%{background-position:0% 22%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 22%}
    50%{background-position:100% 79%}
    100%{background-position:0% 22%}
}
@keyframes AnimationName {
    0%{background-position:0% 22%}
    50%{background-position:100% 79%}
    100%{background-position:0% 22%}
}



.conseil {
    background: linear-gradient(244deg, #5098f7, #066ef7, #0655bd);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 21s ease infinite;
    -moz-animation: AnimationName 21s ease infinite;
    animation: AnimationName 21s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 22%}
    50%{background-position:100% 79%}
    100%{background-position:0% 22%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 22%}
    50%{background-position:100% 79%}
    100%{background-position:0% 22%}
}
@keyframes AnimationName {
    0%{background-position:0% 22%}
    50%{background-position:100% 79%}
    100%{background-position:0% 22%}
}

.expertise {
    background: linear-gradient(244deg, #43aa8b, #289776, #35bf95);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 18s ease infinite;
    -moz-animation: AnimationName 18s ease infinite;
    animation: AnimationName 18s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 22%}
    50%{background-position:100% 79%}
    100%{background-position:0% 22%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 22%}
    50%{background-position:100% 79%}
    100%{background-position:0% 22%}
}
@keyframes AnimationName {
    0%{background-position:0% 22%}
    50%{background-position:100% 79%}
    100%{background-position:0% 22%}
}
.app {
    background: linear-gradient(244deg, #340068, #6b29ac, #7f57a7);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 18s ease infinite;
    -moz-animation: AnimationName 18s ease infinite;
    animation: AnimationName 18s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 22%}
    50%{background-position:100% 79%}
    100%{background-position:0% 22%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 22%}
    50%{background-position:100% 79%}
    100%{background-position:0% 22%}
}
@keyframes AnimationName {
    0%{background-position:0% 22%}
    50%{background-position:100% 79%}
    100%{background-position:0% 22%}
}








.office {
    background: linear-gradient(244deg, #e04325, #ea715a, #c32b0e);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 18s ease infinite;
    -moz-animation: AnimationName 18s ease infinite;
    animation: AnimationName 18s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 22%}
    50%{background-position:100% 79%}
    100%{background-position:0% 22%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 22%}
    50%{background-position:100% 79%}
    100%{background-position:0% 22%}
}
@keyframes AnimationName {
    0%{background-position:0% 22%}
    50%{background-position:100% 79%}
    100%{background-position:0% 22%}
}


.consultingfiche {
    background: linear-gradient(270deg, #5098f7, #168d6d);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}


@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}




.card-body {
    padding-top: 10px !important;
    padding-right: 30px !important;
    padding-bottom: 10px !important;
    padding-left: 10px !important;
}



.zoom-effect {
    overflow: hidden;
  }
  .zoom-effect img {
    transition: transform .3s ease;
  }
  .zoom-effect:hover img {
    transform: scale(1.2);
  }







.area{
     
    width: 100%;
    height:100%;
    z-index: -1;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}



.ripple-background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .circle {
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
  }
  
  .small {
    width: 200px;
    height: 200px;
    right: -100px;
    bottom: -100px;
  }
  
  .medium {
    width: 400px;
    height: 400px;
    right: -200px;
    bottom: -200px;
  }
  
  .large {
    width: 600px;
    height: 600px;
    right: -300px;
    bottom: -300px;
  }
  
  .xlarge {
    width: 800px;
    height: 800px;
    right: -400px;
    bottom: -400px;
  }
  
  .xxlarge {
    width: 1000px;
    height: 1000px;
    right: -500px;
    bottom: -500px;
  }
  
  .shade1 {
    opacity: 0.15;
  }
  
  .shade2 {
    opacity: 0.275;
  }
  
  .shade3 {
    opacity: 0.5;
  }
  
  .shade4 {
    opacity: 0.675;
  }
  
  .shade5 {
    opacity: 0.75;
  }
  
  @keyframes ripple {
    0% {
      transform: scale(0.8);
    }
  
    50% {
      transform: scale(1.3);
    }
  
    100% {
      transform: scale(0.8);
    }
  }



.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #FFA400 50%, #F72585 50%);
    bottom:0;
    left:-50%;
    opacity:.4;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:8s;
  }
  
  .bg3 {
    animation-duration:10s;
  }

  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }



  .fullheight {
  height: 100vh !important;
}


  