{% extends 'base.html.twig' %}

{% block title %}A propos de la société - OLING{% endblock %}

{% block body %}
<body>
  

  <!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">


  <!-- Description -->
  <div class="container content-space-3 content-space-lg-3">

    <div class="linear rounded-3 p-9 mb-10">
      <div class="row">
          <div class="col-md-5 mb-7 mb-lg-0">
              <span class="badge bg-soft-light text-white text-wrap mb-3"><i class="bi-stars me-1"></i> A propos de OLING</span>
              <div class="w-md-75 mb-5">
              <h2 class="text-white">Votre partenaire pour une transformation réussie</h2>
              <p class="text-white-70">Depuis 2012, nous accompagnons les entreprises dans leurs évolutions grâce à notre expertise et nos services personnalisées</p>              
              </div>
          </div>
          <!-- End Col -->

          <div class="col-md-7">
              <!-- Icon Blocks -->
              <div class="d-grid gap-4">
                  <!-- Media -->
                  <div class="d-flex">
                  <div class="flex-shrink-0">
                      <i class="bi-file-earmark-text fs-2 text-light"></i>
                  </div>
                  <div class="flex-grow-1 ms-5">
                      <h5 class="text-white">Expertises technologiques et métiers</h5>
                      <p class="text-white-70">OLING soutient ses clients en élaborant, sélectionnant et déployant des solutions globales en infrastructure et systèmes informatiques, gestion de la réglementation, applications métier et collaboratives, ainsi qu'en optimisant les processus d'achat, de gestion commerciale et de finance dans les secteurs public et privé.</p>
                  </div>
                  </div>
                  <!-- End Media -->

                  <!-- Media -->
                  <div class="d-flex">
                  <div class="flex-shrink-0">
                      <i class="bi-chat-right-dots fs-2 text-light"></i>
                  </div>
                  <div class="flex-grow-1 ms-5">
                      <h5 class="text-white">Créativité et innovation </h5>
                      <p class="text-white-70">Notre créativité et innovation s'appuient sur la recherche et développement pour identifier et adopter les meilleures pratiques, permettant ainsi de proposer des solutions avant-gardistes et efficaces à nos clients</p>
                  </div>
                  </div>
                  <!-- End Media -->

                  <!-- Media -->
                  <div class="d-flex">
                  <div class="flex-shrink-0">
                      <i class="bi-hand-thumbs-up fs-2 text-light"></i>
                  </div>
                  <div class="flex-grow-1 ms-5">
                      <h5 class="text-white">Efficacité budgétaire</h5>
                      <p class="text-white-70">Notre offre de solutions est optimisée en coûts tout en respectant les meilleures pratiques, en adaptant notre approche aux besoins spécifiques des clients et en exploitant les innovations technologiques.</p>
                  </div>
                  </div>
                  <!-- End Media -->
              </div>
              <!-- End Icon Blocks -->
          </div>
          <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    
    <div id="listOfSocialLinks" class="position-relative">
      <div class="row mb-3">
        <div class="col-10 col-md-7 col-lg-7 offset-1 offset-md-4">
          <h3>Notre mission</h3>

          <p>Notre mission chez OLING est de devenir un partenaire de confiance pour nos clients, en les accompagnant dans leur transformation digitale et organisationnelle. </p>
          <p>Nous nous engageons à fournir un service personnalisé et une approche sur-mesure, en mettant à disposition notre expertise et notre savoir-faire pour aider nos clients à atteindre leurs objectifs stratégiques.</p>

        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->

      <div class="row mb-3">
        <div class="col-10 col-md-7 col-lg-7 offset-1 offset-md-4">
          <h4>Nos domaines d'expertise</h4>

          <p>Chez OLING, nous nous spécialisons dans une variété de domaines clés, tels que le conseil en organisation et SI, l'audit et l'expertise en transformation organisationnelle complexe, les applications métier, et les solutions Microsoft 365. </p>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->

      <div class="row mb-3">
        <div class="col-10 col-md-7 col-lg-7 offset-1 offset-md-4">
          <h4>Notre approche</h4>

          <p>Notre approche repose sur l'écoute et la compréhension des besoins de nos clients. Nous croyons en une collaboration étroite pour co-concevoir et mettre en œuvre des solutions adaptées à leurs défis uniques. </p>
          <p>Notre méthodologie s'appuie sur les meilleures pratiques du secteur, notre expérience et notre expertise pour garantir des résultats optimaux.</p>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->

      <div class="row mb-5">
        <div class="col-md-9 col-lg-8 offset-md-3">
          <img class="img-fluid rounded-3" src="/img/spe/bureau.jpg" alt="Image Description">
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->

      <div class="row mb-3">
        <div class="col-10 col-md-7 col-lg-7 offset-1 offset-md-4">
          <h4>Notre engagement pour la qualité</h4>
          <p>La qualité est au cœur de tout ce que nous faisons chez OLING. Nous sommes convaincus que notre succès repose sur notre capacité à fournir des services et des solutions qui répondent et dépassent les attentes de nos clients. </p>
          <p>Pour ce faire, nous nous appuyons sur des normes de qualité élevées et des processus rigoureux pour assurer la satisfaction de nos clients à chaque étape de notre collaboration.</p>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->

      <div class="row mt-7 mb-5">
        <div class="col-md-9 col-lg-8 offset-md-3">
          <figure class="blockquote-lg text-center">
            <blockquote class="blockquote">Nous avons pour vocation d'aider les organisations à réaliser leur potentiel en leur fournissant des solutions innovantes et adaptées à leurs besoins.</blockquote>
          </figure>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->

      <div class="row mb-3">
        <div class="col-10 col-md-7 col-lg-7 offset-1 offset-md-4">
          <h4>Une équipe d'expert</h4>
          <p>L'équipe d'OLING est composée de professionnels expérimentés et certifiés dans divers domaines de compétence, tels que les infrastructures, les applications, les systèmes, la finance, les ressources humaines, le négoce et la normalisation. </p>
          <p>Notre équipe pluridisciplinaire nous permet d'offrir une expertise complète et intégrée à nos clients, en mettant l'accent sur l'excellence et l'innovation.</p>

        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->

      <div class="row mb-3">
        <div class="col-10 col-md-7 col-lg-7 offset-1 offset-md-4">
          <h4>Rejoindre OLING Management</h4>
          <p>Chez OLING, nous sommes toujours à la recherche de nouveaux talents pour rejoindre notre équipe dynamique et en constante évolution. </p>
          <p>Si vous êtes passionné par les technologies de pointe et le conseil en management, et que vous cherchez à travailler dans un environnement stimulant et collaboratif, nous vous invitons à consulter nos offres d'emploi et à postuler en ligne.</p>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->

      {% include '/includes/sticky.html.twig' %}

    </div>

    <!-- End Sticky End Point -->
    <div id="stickyBlockEndPointEg1"></div>
  </div>
  <!-- End Description -->
</main>
<!-- ========== END MAIN CONTENT ========== -->

  

<!-- ========== SECONDARY CONTENTS ========== -->
<!-- Go To -->
<a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
    data-hs-go-to-options='{
      "offsetTop": 700,
      "position": {
        "init": {
          "right": "2rem"
        },
        "show": {
          "bottom": "2rem"
        },
        "hide": {
          "bottom": "-2rem"
        }
      }
    }'>
  <i class="bi-chevron-up"></i>
</a>

<!-- JS Plugins Init. -->
<script>
  
</script>
</body>
{% endblock %}
