{% extends 'base.html.twig' %}

{% block title %}OLING{% endblock %}

{% block body %}
<body>
  

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
  <div class="container mt-5 content-space-2">
    <div class="text-center">
      <h1>A propos de OLING Management</h1>
    </div>
  </div>
    
  <!-- Features -->
  <div class="overflow-hidden">
    <div class="container content-space-1">
      <div class="row align-items-lg-center">
        <div class="col-lg-7 me-auto ms-lg-n10 mb-5 mb-lg-0">
          <div class="row align-items-center">
            <div class="col-4">
              <img class="img-fluid rounded-3" src="/img/580x480/img1.jpg" alt="Image Description">
            </div>
            <!-- End Col -->

            <div class="col-3">
              <img class="img-fluid rounded-3" src="/img/350x700/img1.jpg" alt="Image Description">
            </div>
            <!-- End Col -->

            <div class="col-5">
              <img class="img-fluid rounded-3" src="/img/400x700/img1.jpg" alt="Image Description">
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Col -->

        <div class="col-lg-5">
          <div class="mb-5">
            <h2>Votre partenaire pour une transformation réussie</h2>
            <p>Depuis 2012, nous accompagnons les entreprises dans leur évolution grâce à notre expertise et nos solutions personnalisées.</p>
          </div>

          <!-- List Checked -->
          <ul class="list-checked list-checked-soft-bg-primary list-checked-lg">
            <li class="list-checked-item"><span class="fw-bold">Expertises technologiques et métiers </span> Concevez et partagez une productivité utilisateur unique</li>
            <li class="list-checked-item"><span class="fw-bold">Créativité et innovation  </span>Libérez votre potentiel et optimisez vos processus</li>
            <li class="list-checked-item"><span class="fw-bold">Efficacité budgétaire </span> Réduisez les coûts tout en améliorant la performance</li>
          </ul>
          <!-- End List Checked -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
  </div>
  <!-- End Features -->


  <!-- Description -->
<div class="container content-space-0">
  <div class="row mb-5">
    <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
      <figure class="blockquote-lg text-center mb-3">
        <blockquote class="blockquote">“ Nous avons pour vocation d'aider les organisations à réaliser leur potentiel en leur fournissant des solutions innovantes et adaptées à leurs besoins. Notre équipe d'experts passionnés est déterminée à créer des relations solides et durables avec nos clients, en mettant l'accent sur la collaboration, la qualité et l'innovation. “</blockquote>
      </figure>
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->

  <div class="row mb-3">
    <div class="col-10 col-md-8 col-lg-6 offset-1 offset-md-2 offset-lg-3">
      <h5>Notre mission</h5>
      <p>Notre mission chez OLING est de devenir un partenaire de confiance pour nos clients, en les accompagnant dans leur transformation digitale et organisationnelle. </p>
      <p>Nous nous engageons à fournir un service personnalisé et une approche sur-mesure, en mettant à disposition notre expertise et notre savoir-faire pour aider nos clients à atteindre leurs objectifs stratégiques.</p>

    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->

  <div class="row mb-3">
    <div class="col-10 col-md-8 col-lg-6 offset-1 offset-md-2 offset-lg-3">
      <h5>Nos domaines d'expertise</h5>
      <p>Chez OLING, nous nous spécialisons dans une variété de domaines clés, tels que le conseil en organisation et SI, l'audit et l'expertise en transformation organisationnelle complexe, les applications métier, et les solutions Microsoft 365. </p>
      <p>Notre équipe d'experts travaille en étroite collaboration avec nos clients pour concevoir des solutions sur-mesure, en tenant compte des spécificités et des enjeux propres à chaque organisation.</p>
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->

  <div class="row mb-3">
    <div class="col-10 col-md-8 col-lg-6 offset-1 offset-md-2 offset-lg-3">
      <h5>Notre approche</h5>
      <p>Notre approche repose sur l'écoute et la compréhension des besoins de nos clients. Nous croyons en une collaboration étroite pour co-concevoir et mettre en œuvre des solutions adaptées à leurs défis uniques. </p>
      <p>Notre méthodologie s'appuie sur les meilleures pratiques du secteur, notre expérience et notre expertise pour garantir des résultats optimaux.</p>
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->

  <div class="row mb-3">
    <div class="col-10 col-md-8 col-lg-6 offset-1 offset-md-2 offset-lg-3">
      <h5>Notre engagement envers la qualité</h5>
      <p>La qualité est au cœur de tout ce que nous faisons chez OLING. Nous sommes convaincus que notre succès repose sur notre capacité à fournir des services et des solutions qui répondent et dépassent les attentes de nos clients. </p>
      <p>Pour ce faire, nous nous appuyons sur des normes de qualité élevées et des processus rigoureux pour assurer la satisfaction de nos clients à chaque étape de notre collaboration.</p>

    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->

  <div class="row mb-3">
    <div class="col-10 col-md-8 col-lg-6 offset-1 offset-md-2 offset-lg-3">
      <h5>Une équipe d'experts</h5>

      <p>L'équipe d'OLING est composée de professionnels expérimentés et certifiés dans divers domaines de compétence, tels que les infrastructures, les applications, les systèmes, la finance, les ressources humaines, le négoce et la normalisation. </p>
      <p>Notre équipe pluridisciplinaire nous permet d'offrir une expertise complète et intégrée à nos clients, en mettant l'accent sur l'excellence et l'innovation.</p>

    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->

  <div class="row mb-3">
    <div class="col-10 col-md-8 col-lg-6 offset-1 offset-md-2 offset-lg-3">
      <h5>Rejoindre OLING</h5>

      <p>Chez OLING, nous sommes toujours à la recherche de nouveaux talents pour rejoindre notre équipe dynamique et en constante évolution. </p>
      <p>Si vous êtes passionné par les technologies de pointe et le conseil en management, et que vous cherchez à travailler dans un environnement stimulant et collaboratif, nous vous invitons à consulter nos offres d'emploi et à postuler en ligne.</p>
</p>
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->

  <div class="row mb-3">
    <div class="col-10 col-md-8 col-lg-6 offset-1 offset-md-2 offset-lg-3">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="d-flex align-items-center">
            <h6 class="me-3 mb-0">Partager :</h6>

            <!-- List -->
            <ul class="list-inline mb-0">

              <li class="list-inline-item">
                <a class="btn btn-ghost-secondary btn-icon btn-sm rounded-circle" href="#">
                  <i class="bi-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-ghost-secondary btn-icon btn-sm rounded-circle" href="#">
                  <i class="bi-linkedin"></i>
                </a>
              </li>
            </ul>
            <!-- End List -->
          </div>
        </div>
        <!-- End Col -->

      </div>
      <!-- End Row -->
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->
</div>
<!-- End Description -->


  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  

  <!-- ========== SECONDARY CONTENTS ========== -->
  <!-- Go To -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
     data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": "2rem"
         },
         "show": {
           "bottom": "2rem"
         },
         "hide": {
           "bottom": "-2rem"
         }
       }
     }'>
    <i class="bi-chevron-up"></i>
  </a>

  <!-- JS Plugins Init. -->
  <script>
    
  </script>
</body>
{% endblock %}
