{% extends 'base.html.twig' %}

{% block title %}OLING{% endblock %}

{% block body %}
<body>
  

  <!-- Card Grid -->
<div class="container content-space-t-4">
  <div class="text-center mb-7">
    <h1>Comment pouvons nous vous aider ?</h1>
  </div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2">
    <div class="col mb-6 mb-lg-0">
      <!-- Card -->
      <div class="card card-lg text-center h-100">
        <div class="card-body">
          <div class="mb-3">
            <i class="bi-person-circle fs-1 text-dark"></i>
          </div>

          <div class="mb-5">
            <h4>Bureau de Paris - France</h4>
          </div>

          <div class="mb-5">
            <span class="d-block">Du lundi au vendredi</span>
            <span class="d-block">8h à 18h du lundi au vendredi</span>
          </div>

          <div class="d-grid mb-3">
            <a class="btn btn-white" href="mailto:Contact@oling.fr"><i class="bi-envelope-open me-2"></i> Contact@oling.fr</a>
          </div>

          <a class="btn btn-ghost-dark btn-sm" href="#"><i class="bi-telephone me-2"></i> (+33) 06 07 80 00 86</a>
        </div>
      </div>
      <!-- End Card -->
    </div>
    <!-- End Col -->


    <div class="col mb-6 mb-lg-0">
      <!-- Card -->
      <div class="card card-lg text-center h-100">
        <div class="card-body">
          <div class="mb-3">
            <i class="bi-person-circle fs-1 text-dark"></i>
          </div>

          <div class="mb-5">
            <h4>Bureau de Guadeloupe</h4>
          </div>

          <div class="mb-5">
            <span class="d-block">Du lundi au vendredi</span>
            <span class="d-block">8h à 18h du lundi au vendredi</span>
          </div>

          <div class="d-grid mb-3">
            <a class="btn btn-white" href="mailto:Contact@oling.fr"><i class="bi-envelope-open me-2"></i> Contact@oling.fr</a>
          </div>

          <a class="btn btn-ghost-dark btn-sm" href="#"><i class="bi-telephone me-2"></i> (+33) 06 90 23 90 80</a>
        </div>
      </div>
      <!-- End Card -->
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->
</div>
<!-- End Card Grid -->

<!-- Contact Form -->
<div class="overflow-hidden">
  <div class="container content-space-2">
    <div class="row">
      <div class="col-lg-5 mb-10 mb-lg-0">
        <div class="pe-lg-10">
          <div class="mb-5">
            <h3>Notre bureau</h3>
          </div>

         

          <!-- Info -->
          <address>
            <span class="d-block fs-3 fw-bold text-dark mb-2">Siège</span>
            51 rue Henri Becquerel<br>
            ZI Jarry<br>
            97 122 BAIE MAHAULT<br>
            GUADELOUPE - FRANCE
          </address>
          <!-- End Info -->
        </div>
      </div>
      <!-- End Col -->

      <div class="col-lg-7">
        <div class="position-relative">
          <!-- Card -->
          <div class="card card-lg">
            <!-- Card Body -->
            <div class="card-body">
              <h4 class="mb-4">Prenons contact</h4>

              <form>
                <div class="row">
                  <div class="col-sm-6 mb-4 mb-sm-0">
                    <!-- Form -->
                    <div class="mb-4">
                      <label class="form-label" for="contactsFormFirstName">Prénom</label>
                      <input type="text" class="form-control" name="contactsFormNameFirstName" id="contactsFormFirstName" placeholder="Jacob" aria-label="Jacob">
                    </div>
                    <!-- End Form -->
                  </div>
                  <!-- End Col -->

                  <div class="col-sm-6">
                    <!-- Form -->
                    <div class="mb-4">
                      <label class="form-label" for="contactsFormLasttName">Nom</label>
                      <input type="text" class="form-control" name="contactsFormNameLastName" id="contactsFormLasttName" placeholder="Williams" aria-label="Williams">
                    </div>
                    <!-- End Form -->
                  </div>
                  <!-- End Col -->
                </div>
                <!-- End Row -->

                <div class="row">
                  <div class="col-sm-6 mb-4 mb-sm-0">
                    <!-- Form -->
                    <div class="mb-4">
                      <label class="form-label" for="contactsFormCompany">Société</label>
                      <input type="text" class="form-control" name="contactsFormNameCompany" id="contactsFormCompany" placeholder="Htmlstream" aria-label="Htmlstream">
                    </div>
                    <!-- End Form -->
                  </div>
                  <!-- End Col -->

                  <div class="col-sm-6">
                    <!-- Form -->
                    <div class="mb-4">
                      <label class="form-label" for="contactsFormCompanyWebsite">Le site de votre société </label>
                      <input type="text" class="form-control" name="contactsFormNameCompanyWebsite" id="contactsFormCompanyWebsite" placeholder="htmlstream.com" aria-label="htmlstream.com">
                    </div>
                    <!-- End Form -->
                  </div>
                  <!-- End Col -->
                </div>
                <!-- End Row -->

                <!-- Form -->
                <div class="mb-4">
                  <label class="form-label" for="contactsFormWorkEmail">Email professionnel</label>
                  <input type="text" class="form-control" name="contactsFormNameWorkEmail" id="contactsFormWorkEmail" placeholder="email@site.com" aria-label="email@site.com">
                </div>
                <!-- End Form -->

                <!-- Form -->
                <div class="mb-4">
                  <label class="form-label" for="contactsFormDetails">Votre message</label>
                  <textarea class="form-control" name="contactsFormNameDetails" id="contactsFormDetails" placeholder="Tell us about your payment sales" aria-label="Tell us about your payment sales" rows="4"></textarea>
                </div>
                <!-- End Form -->

                <div class="d-grid">
                  <button type="submit" class="btn btn-primary btn-lg">Envoyer</button>
                </div>
              </form>
            </div>
            <!-- End Card Body -->
          </div>
          <!-- End Card -->

          <!-- SVG Shape -->
          <figure class="position-absolute bottom-0 end-0 zi-n1 d-none d-md-block mb-n10" style="width: 15rem; margin-right: -8rem;">
            <img class="img-fluid" src="/svg/illustrations/grid-grey.svg" alt="Image Description">
          </figure>
          <!-- End SVG Shape -->

          <!-- SVG Shape -->
          <figure class="position-absolute bottom-0 end-0 d-none d-md-block me-n5 mb-n5" style="width: 10rem;">
            <img class="img-fluid" src="/svg/illustrations/plane.svg" alt="Image Description">
          </figure>
          <!-- End SVG Shape -->
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
</div>
<!-- End Contact Form -->

  

  <!-- ========== SECONDARY CONTENTS ========== -->
  <!-- Go To -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
     data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": "2rem"
         },
         "show": {
           "bottom": "2rem"
         },
         "hide": {
           "bottom": "-2rem"
         }
       }
     }'>
    <i class="bi-chevron-up"></i>
  </a>

  <!-- JS Plugins Init. -->
  <script>
    
  </script>
</body>
{% endblock %}
