{% extends 'base.html.twig' %}

{% block title %}OLING{% endblock %}

{% block body %}
<body>
  

  <!-- Card Grid -->
<div class="container content-space-3 content-space-lg-3">
  <div class="linear rounded-3 p-9 mb-10">
    <div class="row">
      <div class="col-md-7 mb-8 mb-lg-0">
        <span class="badge bg-soft-light text-white text-wrap mb-3"><i class="bi-stars me-1"></i> Formulaire de contact</span>
        <div class="w-md-75 mb-5">
          <h2 class="text-white">Comment pouvons-nous vous aider ?</h2>
          <p class="text-white-70"></p>
        </div>
      </div>
      <!-- End Col -->
      <div class="col-md-6">
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>


    <div class="row">
      <div class="col-lg-5 mb-10 mb-lg-0">
        <div class="pe-lg-10">
          <div class="mb-5">
            <h3>Nos bureaux</h3>
          </div>
          <!-- Info -->
          <address>
            <span class="d-block fs-3 fw-bold text-dark mb-2">Agence de Paris</span>
            4 allée Maximilien Luce<br>
            92130 ISSY LES MOULINEAUX<br>
            FRANCE
          </address>
          <!-- End Info -->
          <!-- Info -->
          <address>
            <span class="d-block fs-3 fw-bold text-dark mb-2">Agence de Guadeloupe</span>
            51 rue Henri Becquerel<br>
            ZI Jarry<br>
            97122 BAIE MAHAULT<br>
            GUADELOUPE - FRANCE
          </address>
          <!-- End Info -->
        </div>
      </div>
      <!-- End Col -->

      <div class="col-lg-7">
        <div class="position-relative">
          <!-- Card -->
          <div class="card card-lg">
            <!-- Card Body -->
            <div class="card-body">
              <h4 class="mb-4">Envoyez nous un email</h4>

              <form id="contact-form">
                <div class="row">
                  <div class="col-sm-6 mb-4 mb-sm-0">
                    <!-- Form -->
                    <div class="mb-4">
                      <label class="form-label" for="contactsFormFirstName">Prénom</label>
                      <input type="text" class="form-control" name="contactsFormNameFirstName" id="contactsFormFirstName" placeholder="Prénom" aria-label="Prénom">
                    </div>
                    <!-- End Form -->
                  </div>
                  <!-- End Col -->

                  <div class="col-sm-6">
                    <!-- Form -->
                    <div class="mb-4">
                      <label class="form-label" for="contactsFormLasttName">Nom</label>
                      <input type="text" class="form-control" name="contactsFormNameLastName" id="contactsFormLasttName" placeholder="Nom" aria-label="Nom">
                    </div>
                    <!-- End Form -->
                  </div>
                  <!-- End Col -->
                </div>
                <!-- End Row -->

                <div class="row">
                  <!-- Form -->
                  <div class="mb-4">
                    <label class="form-label" for="contactsFormCompany">Société</label>
                    <input type="text" class="form-control" name="contactsFormNameCompany" id="contactsFormCompany" placeholder="Société" aria-label="Société">
                  </div>
                  <!-- End Form -->
                </div>
                <!-- End Col -->

                <!-- Form -->
                <div class="mb-4">
                  <label class="form-label" for="contactsFormWorkEmail">Email professionnel</label>
                  <input type="text" class="form-control" name="contactsFormNameWorkEmail" id="contactsFormWorkEmail" placeholder="email@site.com" aria-label="email@site.com">
                </div>
                <!-- End Form -->

                <!-- Form -->
                <div class="mb-4">
                  <label class="form-label" for="contactsFormDetails">Votre message</label>
                  <textarea class="form-control" name="contactsFormNameDetails" id="contactsFormDetails" placeholder="Donnez nous quelques éléments pour étudier votre besoins" aria-label="Donnez nous quelques éléments pour étudier votre besoins" rows="4"></textarea>
                </div>
                <!-- End Form -->

                <div class="d-grid">
                  <button type="button" class="btn btn-primary btn-lg" id="button-send">Envoyer</button>
                </div>
              </form>
            </div>
            <!-- End Card Body -->
          </div>
          <!-- End Card -->
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
<!-- End Contact Form -->

  

  <!-- ========== SECONDARY CONTENTS ========== -->
  <!-- Go To -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
     data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": "2rem"
         },
         "show": {
           "bottom": "2rem"
         },
         "hide": {
           "bottom": "-2rem"
         }
       }
     }'>
    <i class="bi-chevron-up"></i>
  </a>

  <!-- JS Plugins Init. -->
  <script>
    
  </script>
</body>
{% endblock %}
