{% extends 'base.html.twig' %}

{% block title %}OLING{% endblock %}

{% block body %}
<body>
  

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Hero -->
    <div class="container content-space-t-3">
      <div class="row justify-content-lg-between align-items-lg-center">
        <div class="col-lg-5 mb-5 mb-lg-0">
          <div class="mb-5">
            <h1 class="display-4 text-dark mb-5"> <span class="text-primary">Innover</span> ensemble, <span class="text-primary">réussir</span> ensemble </h1>
            <p class="fs-3">OLING est une société composée d'experts en projets fonctionnels et informatiques pour les entreprises publiques et privées</p>
          </div>

          <div class="d-grid d-sm-flex gap-3 mb-5">
            <a class="btn btn-primary" href="#">Découvrir les solutions</a>
            <a class="btn btn-ghost-dark btn-pointer" href={{ path('contact')}}>Contactez-nous</a>
          </div>
        </div>
        <!-- End Col -->

        <div class="col-lg-6">
          <div class="position-relative">
            <div class="position-relative">
              <img class="img-fluid" src="/img/950x950/img1.jpg" alt="Image Description">

              <div class="position-absolute bottom-0 end-0">
                <img class="w-100" src="/svg/illustrations/cubics.svg" alt="SVG" style="max-width: 30rem;">
              </div>
            </div>

            
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Hero -->



    <!-- Stats -->
    <div class="container content-space-2 content-space-lg-3">
      <div class="row justify-content-lg-between align-items-lg-center">
        <div class="col-lg-5 mb-9 mb-lg-0">
          <div class="mb-6">
            <h2>Votre partenaire pour réussir vos projets d'entreprise</h2>
            <p>OLING est une entreprise de conseil experte en projets fonctionnels et informatiques pour les entreprises publiques et privées. </p>
            <p>Avec une forte expérience dans les problématiques d'entreprise et une expertise méthodologique de haut niveau, 
            OLING offre des solutions sur mesure pour répondre aux besoins spécifiques de ses clients, pour la réussite de leurs projets d'entreprise.</p>
          </div>


        </div>
        <!-- End Col -->

        <div class="col-lg-6">
          <!-- List -->
          <ul class="list-equal-height list-equal-height-2-cols">
            <li class="list-equal-height-item">
              <h4 class="display-5">50 %</h4>
              <p class="mb-0">Secteur public</p>
            </li>

            <li class="list-equal-height-item">
              <h4 class="display-5">50 %</h4>
              <p class="mb-0">Secteur privé</p>
            </li>

            <li class="list-equal-height-item">
              <h4 class="display-5">150+</h4>
              <p class="mb-0">projets conduits dans les outremers et l'hexagone</p>
            </li>

            <li class="list-equal-height-item">
              <h4 class="display-5"><sub><i class="bi-arrow-up-short text-primary ms-n2"></i></sub>10</h4>
              <p class="mb-0">consultants experts</p>
            </li>
          </ul>
          <!-- End List -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Stats -->


    <!-- Heading -->
    <div class="container content-space-t-2 content-space-t-lg-0 content-space-b-1">
      <div class="w-lg-65 text-center mx-lg-auto">
        <h2>Des solutions sur mesure pour répondre à vos besoins spécifiques</h2>
        <p>OLING est structurée autour de quatre "practices", 
        chacune dédiée à un domaine spécifique de l'entreprise : le conseil en organisation et SI, les expertises et audits, 
        les applications métier et la transformation digitale. Grâce à l'utilisation de profils experts et de méthodologies éprouvées, 
        OLING offre des solutions sur mesure pour répondre aux besoins spécifiques de ses clients.</p>
      </div>
    </div>
    <!-- End Heading -->

    <!-- Step Features -->
    <div class="container">
      <!-- List Step -->
      <ul class="list-unstyled list-step list-py-3 mb-0">
        <li class="list-step-item">
          <div class="position-relative rounded-3 py-10 px-4 px-md-10">
            <div class="row align-items-lg-center">
              <div class="col-lg-5 mb-7 mb-lg-0">
                <div class="pe-lg-5">
                  <div class="mb-5">
                    <span class="text-cap text-primary">Conseil en Organisation et SI</span>
                    <h2>Ensemble, optimisons votre organisation et votre système d'information</h2>
                    <p>Solutions pour optimiser votre organisation et votre système d'information</p>
                  </div>

                  <!-- List Checked -->
                  <ul class="list-checked list-checked-primary mb-7">
                    <li class="list-checked-item">Assistance à maîtrise d'ouvrage</li>
                    <li class="list-checked-item">Gouvernance des SI</li>
                    <li class="list-checked-item">Management des processus</li>
                    <li class="list-checked-item">Management des données</li>
                    <li class="list-checked-item">Plan stratégique et pilotage des projets d'entreprise</li>
                  </ul>
                  <!-- End List Checked -->

                  <a class="link link-pointer" href="#">En savoir plus</a>
                </div>
              </div>
              <!-- End Col -->

              <div class="col-lg-7">
                <img class="img-fluid" src="/img/mockups/img1.png" alt="Image Description">
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->

            <div class="position-absolute top-0 start-0 w-100 w-lg-65 h-65 h-lg-100 bg-light rounded-3 zi-n1 ms-n5"></div>
          </div>
        </li>

        <li class="list-step-item">
          <div class="position-relative rounded-3 py-10 px-4 px-md-10">
            <div class="row align-items-lg-center">
              <div class="col-lg-5 mb-7 mb-lg-0">
                <div class="pe-lg-5">
                  <div class="mb-5">
                    <span class="text-cap text-primary">Audit et expertises</span>
                    <h2>Un regard extérieur pour améliorer votre organisation</h2>
                    <p>OLING propose des services d'audit et d'expertise pour aider les entreprises publiques et privées à atteindre leurs objectifs.</p>
                  </div>


                  <!-- List Checked -->
                  <ul class="list-checked list-checked-primary mb-7">
                    <li class="list-checked-item">Contrôle de gestion</li>
                    <li class="list-checked-item">Organisation et processus</li>
                    <li class="list-checked-item">SMI QSE</li>
                    <li class="list-checked-item">RSE</li>
                    <li class="list-checked-item">FINANCES</li>
                    <li class="list-checked-item">RGPD</li>
                    <li class="list-checked-item">Contrôle interne</li>
                  </ul>
                  <!-- End List Checked -->

                  <a class="link link-pointer" href="#">En savoir plus</a>
                </div>
              </div>
              <!-- End Col -->

              <div class="col-lg-7">
                <img class="img-fluid" src="/img/mockups/img2.png" alt="Image Description">
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->

            <div class="position-absolute top-0 start-0 w-100 w-lg-65 h-65 h-lg-100 bg-light rounded-3 zi-n1 ms-n5"></div>
          </div>
        </li>

        <li class="list-step-item">
          <div class="position-relative rounded-3 py-10 px-4 px-md-10">
            <div class="row align-items-lg-center">
              <div class="col-lg-5 mb-7 mb-lg-0">
                <div class="pe-lg-5">
                  <div class="mb-5">
                    <span class="text-cap text-primary">Business Apps</span>
                    <h2>Des applications métier sur mesure pour votre entreprise</h2>
                    <p>OLING offre des services de développement d'applications métier pour les entreprises publiques et privées</p>
                  </div>

                  <!-- List Checked -->
                  <ul class="list-checked list-checked-primary mb-7">
                    <li class="list-checked-item">Conception, déploiement, AMOA, AMOE des solutions applicatives ERP</li>
                    <li class="list-checked-item">Informatique analytique et BI</li>
                    <li class="list-checked-item">GED/GEC</li>
                    <li class="list-checked-item">SIG</li>
                    <li class="list-checked-item">Développement d'applications métier</li>
                  </ul>
                  <!-- End List Checked -->

                  <a class="link link-pointer" href="#">En savoir plus</a>
                </div>
              </div>
              <!-- End Col -->

              <div class="col-lg-7">
                <img class="img-fluid" src="/img/mockups/img3.png" alt="Image Description">
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->

            <div class="position-absolute top-0 start-0 w-100 w-lg-65 h-65 h-lg-100 bg-light rounded-3 zi-n1 ms-n5"></div>
          </div>
        </li>

        <li class="list-step-item">
          <div class="position-relative rounded-3 py-10 px-4 px-md-10">
            <div class="row align-items-lg-center">
              <div class="col-lg-5 mb-7 mb-lg-0">
                <div class="pe-lg-5">
                  <div class="mb-5">
                    <span class="text-cap text-primary">Microsoft 365</span>
                    <h2>La transformation digitale, avec Microsoft 365 et OLING</h2>
                    <p>OLING propose des services de transformation digitale avec la suite Microsoft 365 
                    pour aider les entreprises publiques et privées à s'adapter aux changements technologiques.</p>
                  </div>

                  <!-- List Checked -->
                  <ul class="list-checked list-checked-primary mb-7">
                    <li class="list-checked-item">Mise en place de solutions digitales avec Microsoft 365</li>
                    <li class="list-checked-item">Arborescence métier</li>
                    <li class="list-checked-item">Administration Azure AD</li>
                    <li class="list-checked-item">Messagerie et calendrier</li>
                    <li class="list-checked-item">Collaboratif</li>
                    <li class="list-checked-item">Conseil en stratégie digitale</li>
                    <li class="list-checked-item">Accompagnement au changement</li>
                  </ul>
                  <!-- End List Checked -->

                  <a class="link link-pointer" href="#">Explore this step</a>
                </div>
              </div>
              <!-- End Col -->

              <div class="col-lg-7">
                <img class="img-fluid" src="/img/mockups/img2.png" alt="Image Description">
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->

            <div class="position-absolute top-0 start-0 w-100 w-lg-65 h-65 h-lg-100 bg-light rounded-3 zi-n1 ms-n5"></div>
          </div>
        </li>
      </ul>
      <!-- End List Step -->
    </div>
    <!-- End Step Features -->

    
    <!-- Features -->
    <div class="overflow-hidden">
      <div class="container content-space-2 content-space-lg-3">
        <div class="position-relative mb-10">
          <div class="row justify-content-lg-between">
            <div class="col-md-6 col-lg-5 mb-7 mb-lg-0">
              <div class="mb-5">
                <h2>Vous cherchez un partenaire qui fournit une expertise adaptée à votre métier ?</h2>
                <p> OLING, société de conseil spécialisée dans l'accompagnement des entreprises publiques et privées, 
                vous offre une expertise sur-mesure pour répondre à vos défis métiers et informatiques.</p> 
                <p>Découvrez nos capacités pour vous aider à innover, à vous conformer aux réglementations et à optimiser vos processus.</p>
              </div>

              <a class="link link-pointer" href="#">Découvrez notre méthode</a>
            </div>
            <!-- End Col -->

            <div class="col-md-6">
              <div class="mb-6">
                <h3>Un partenaire expert pour une transformation adaptée à votre métier</h3>
              </div>

              <div class="mb-3">
                <i class="bi-app-indicator fs-2 text-dark"></i>
              </div>

              <h5>Services publiques</h5>
              <div class="row mb-5">
                <div class="col-6">
                  <ul class="list-checked list-checked-soft-bg-primary">
                    <li class="list-checked-item">Conception de schéma directeur SI et digitalisation</li>
                    <li class="list-checked-item">Conformité ISO RGPD PCA</li>
                    <li class="list-checked-item">Audit et étude SI (Infrastructure, serveur, réseau, téléphonie)</li>
                  </ul>
                </div>
                <!-- End Col -->

                <div class="col-6">
                  <ul class="list-checked list-checked-soft-bg-primary">
                    <li class="list-checked-item">Appuie à l’intégration d’applications métier/li>
                    <li class="list-checked-item">Délégation de service SI</li>
                  </ul>
                </div>
                <!-- End Col -->
              </div>
              <!-- End Row -->

              <div class="mb-3">
                <i class="bi-circle-square fs-2 text-dark"></i>
              </div>

              <h5>Négoces et distribution</h5>

              <div class="row mb-5">
                <div class="col-6">
                  <ul class="list-checked list-checked-soft-bg-primary">
                    <li class="list-checked-item">Audit et conseil SI et Organisation</li>
                    <li class="list-checked-item">Accompagnement à l’intégration de solutions applicatives métiers CRM, ERP (achat, logistique, finance)</li>
                    <li class="list-checked-item">Organisation de la collaboration sur Office 365</li>

                  </ul>
                </div>
                <!-- End Col -->

                <div class="col-6">
                  <ul class="list-checked list-checked-soft-bg-primary">
                    <li class="list-checked-item">Audit et conseil SI et Organisation</li>
                    <li class="list-checked-item">Management de transition SI, Conformité, etc.</li>
                  </ul>
                </div>
                <!-- End Col -->
              </div>
              <!-- End Row -->
            <div class="mb-3">
                <i class="bi-circle-square fs-2 text-dark"></i>
              </div>

              <h5>Education</h5>

              <div class="row mb-5">
                <div class="col-6">
                  <ul class="list-checked list-checked-soft-bg-primary">
                    <li class="list-checked-item">Conformité QSE, Qualiopi, RGPD</li>
                    <li class="list-checked-item">Digitalisation des processus et des documents/li>

                  </ul>
                </div>
                <!-- End Col -->

                <div class="col-6">
                  <ul class="list-checked list-checked-soft-bg-primary">
                    <li class="list-checked-item">Expertises et audit</li>
                    <li class="list-checked-item">Recherche de programmes et élaboration des dossiers de candidatures et de demande de subventions</li>
                  </ul>
                </div>
                <!-- End Col -->
              </div>
              <!-- End Row -->




              </div>
              <!-- End Row -->
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
          

          <!-- SVG Shape -->
          <figure class="position-absolute top-0 end-0 me-n7" style="width: 4rem;">
            <img class="img-fluid" src="/svg/components/pointer-up.svg" alt="Image Description">
          </figure>
          <!-- End SVG Shape -->

          <!-- SVG Shape -->
          <figure class="position-absolute bottom-0 end-0 start-sm-0 mb-n8 ms-n8" style="width: 12rem;">
            <img class="img-fluid" src="/svg/components/curved-shape.svg" alt="Image Description">
          </figure>
          <!-- End SVG Shape -->
        </div>

      </div>
    </div>
    <!-- End Features -->

    
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  

  <!-- ========== SECONDARY CONTENTS ========== -->
  <!-- Go To -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
     data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": "2rem"
         },
         "show": {
           "bottom": "2rem"
         },
         "hide": {
           "bottom": "-2rem"
         }
       }
     }'>
    <i class="bi-chevron-up"></i>
  </a>

  <!-- JS Plugins Init. -->
  <script>
    
  </script>
</body>
{% endblock %}
