{% extends 'base.html.twig' %}

{% block title %}OLING{% endblock %}

{% block body %}
<body>
      <!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
    <!-- Description -->
    <div class="container content-space-3">
        <div class="linear rounded-3 p-9 mb-10">
            <div class="row">
                <div class="col-md-6 mb-7 mb-lg-0">
                    <span class="badge bg-soft-light text-white text-wrap mb-3"><i class="bi-stars me-1"></i> Expertises métier</span>
                    <div class="w-md-75 mb-5">
                    <h2 class="text-white">Un partenaire expert pour une transformation adaptée à votre métier</h2>
                    <p class="text-white-70"></p>
                    </div>
                </div>
                <!-- End Col -->

                <div class="col-md-6 my-auto">

                    <img class="img-fluid rounded-2" style="opacity: 0.8;" src="/img/spe/secteurs.jpg" alt="Image Description">
                    
                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->
        </div>



        <div id="listOfSocialLinks" class="position-relative">
            <div class="row mb-3">
                <div class="col-10 col-md-7 col-lg-7 offset-1 offset-md-4">
                <h3>Notre mission</h3>

                <p>Notre mission chez OLING est de devenir un partenaire de confiance pour nos clients, en les accompagnant dans leur transformation digitale et organisationnelle. </p>
                <p>Nous nous engageons à fournir un service personnalisé et une approche sur-mesure, en mettant à disposition notre expertise et notre savoir-faire pour aider nos clients à atteindre leurs objectifs stratégiques.</p>

            <div class="mb-3">
                <i class="bi-circle-square fs-2 text-dark"></i>
            </div>
            <h5>Services publiques</h5>
            <div class="row mb-5">
                <div class="col-6">
                    <ul class="list-checked list-checked-soft-bg-primary">
                        <li class="list-checked-item">Conception de schéma directeur SI et digitalisation</li>
                        <li class="list-checked-item">Conformité ISO RGPD PCA</li>
                        <li class="list-checked-item">Audit et étude SI (Infrastructure, serveur, réseau, téléphonie)</li>
                    </ul>
                </div>
                <!-- End Col -->
                <div class="col-6">
                    <ul class="list-checked list-checked-soft-bg-primary">
                        <li class="list-checked-item">Appuie à l’intégration d’applications métier/li>
                        <li class="list-checked-item">Délégation de service SI</li>
                    </ul>
                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->

            <div class="mb-3">
            <i class="bi-circle-square fs-2 text-dark"></i>
            </div>

            <h5>Négoces et distribution</h5>

            <div class="row mb-5">
                <div class="col-6">
                    <ul class="list-checked list-checked-soft-bg-primary">
                        <li class="list-checked-item">Audit et conseil SI et Organisation</li>
                        <li class="list-checked-item">Accompagnement à l’intégration de solutions applicatives métiers CRM, ERP (achat, logistique, finance)</li>
                        <li class="list-checked-item">Organisation de la collaboration sur Office 365</li>
                    </ul>
                </div>
                <!-- End Col -->

                <div class="col-6">
                    <ul class="list-checked list-checked-soft-bg-primary">
                        <li class="list-checked-item">Audit et conseil SI et Organisation</li>
                        <li class="list-checked-item">Management de transition SI, Conformité, etc.</li>
                    </ul>
                </div>
            <!-- End Col -->
            </div>
            <!-- End Row -->

            

            <div class="mb-3">
                <i class="bi-circle-square fs-2 text-dark"></i>
            </div>

            <h5>Education</h5>

            <div class="row mb-5">
                <div class="col-6">
                    <ul class="list-checked list-checked-soft-bg-primary">
                        <li class="list-checked-item">Conformité QSE, Qualiopi, RGPD</li>
                        <li class="list-checked-item">Digitalisation des processus et des documents</li>
                    </ul>
                </div>
                <!-- End Col -->

                <div class="col-6">
                    <ul class="list-checked list-checked-soft-bg-primary">
                        <li class="list-checked-item">Expertises et audit</li>
                        <li class="list-checked-item">Recherche de programmes et élaboration des dossiers de candidatures et de demande de subventions</li>
                    </ul>
                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->
        </div>
        <!-- End Description -->

        </div>
        <!-- End Row -->


        {% include '/includes/sticky.html.twig' %}

        

    </div>

    <!-- End Sticky End Point -->
    <div id="stickyBlockEndPointEg1"></div>





    
</main>
<!-- ========== END MAIN CONTENT ========== -->
</body>
{% endblock %}
