{% extends 'base.html.twig' %}

{% block title %}OLING{% endblock %}

{% block body %}
<body>

    <!-- Hero -->
    <div class="bg-gradient-to-bottom-sm-light">
    <div class="container content-space-t-3 content-space-t-lg-4">
        <div class="w-lg-65 text-center mx-lg-auto mb-5 mb-lg-10">
        <span class="text-cap">Conseil en organisation et système d'information</span>
        <h1>Assistance à maitrise d'ouvrage</h1>
        <p class="lead">L'Assistance à Maîtrise d'Ouvrage (AMOA) est un service clé proposé par OLING pour accompagner la mise en œuvre de leurs projets d'entreprise dans les domaines fonctionnels et informatiques</p>
        </div>

    </div>
    </div>
    <!-- End Hero -->


    <!-- Description -->
    <div class="container content-space-1">
    <div class="row justify-content-lg-between">
        <div class="col-lg-8 order-lg-2">


        <div class="mb-4">
            <p>OLING dispose d'une équipe d'experts possédant une connaissance approfondie des enjeux régionaux et nationaux, une longue expérience des problématiques d'entreprise et une expertise méthodologique de très haut niveau dans divers domaines tels que les infrastructures, les applications, les systèmes, la finance, les ressources humaines, le négoce et la normalisation. Ces compétences leur permettent de fournir un soutien personnalisé et adapté aux besoins de chaque client, en fonction de la taille, du secteur et des spécificités de chaque organisation.</p>
        </div>

        <h4>L'approche d'OLING en matière d'AMOA est structurée autour des étapes clés suivantes</h4>

        <ul class="list-py-1">
            <li><span class="fw-bold">Analyse des besoins et cadrage : </span>OLING travaille en étroite collaboration avec le client pour comprendre et définir les objectifs, les exigences et les contraintes du projet.</li>
            <li><span class="fw-bold">Planification et organisation : </span>OLING élabore un plan détaillé du projet, incluant les ressources nécessaires, les échéances et les jalons clés.<span class="fw-bold">24-48 hours</span>.</li>
            <li><span class="fw-bold">Sélection et pilotage des prestataires : </span>OLING aide le client à choisir les prestataires adaptés et assure le suivi de leur performance tout au long du projet.</li>
            <li><span class="fw-bold">Procédures d'achat et de marchés : </span>OLING accompagne le client dans la préparation des documents de consultation des entreprises (DCE) et la rédaction des cahiers des clauses techniques particulières (CCTP), en veillant à la conformité aux réglementations en vigueur.</li>
            <li><span class="fw-bold">Coordination et communication : </span>OLING facilite la communication entre les différentes parties prenantes et veille à la bonne coordination des actions pour assurer la réussite du projet. </li>
            <li><span class="fw-bold">Contrôle et suivi des risques : </span>OLING identifie et évalue les risques potentiels, met en place des plans de mitigation et assure un suivi régulier pour minimiser leur impact sur le projet. </li>
            <li><span class="fw-bold">Validation et recette : OLING vérifie que les livrables sont conformes aux exigences définies et valide leur qualité avant leur mise en production.</span> </li>
        </ul>

        <p>En résumé, l'offre d'Assistance à Maîtrise d'Ouvrage d'OLING permet aux entreprises de bénéficier d'un accompagnement expert et structuré pour la mise en œuvre de leurs projets, en garantissant une meilleure maîtrise des coûts, des délais et de la qualité des livrables.</p>

        <div class="bg-soft-primary text-center rounded py-6 px-5 mt-10">
            <div class="mb-3">
            <h5>Cet article était il utile ?</h5>
            </div>

            <div class="d-flex justify-content-center gap-2 mb-2">
            <button type="button" class="btn btn-primary">
                <i class="bi-hand-thumbs-up me-1"></i> Yes, thanks!
            </button>
            <button type="button" class="btn btn-soft-dark">
                <i class="bi-hand-thumbs-down me-1"></i> Not, really
            </button>
            </div>
        </div>

        <!-- End Sticky End Point -->
        <div id="stickyBlockEndPointEg3"></div>
        </div>
        <!-- End Col -->

        <div class="col-lg-3 d-none d-lg-block">
        <div id="stickyBlockStartPointEg3">
            <!-- Card -->
            <div class="js-sticky-block"
                data-hs-sticky-block-options='{
                "parentSelector": "#stickyBlockStartPointEg3",
                "targetSelector": "#header",
                "breakpoint": "lg",
                "startPoint": "#stickyBlockStartPointEg3",
                "endPoint": "#stickyBlockEndPointEg3",
                "stickyOffsetTop": 20
            }'>
            <h5>Nos autres services Consulting</h5>

            <!-- List -->
            <ul class="list-pointer list-pointer-secondary">
                <li class="list-pointer-item">
                <a class="link link-secondary" href="../page-help-center-categories.html">Managing my account</a>
                </li>
                <li class="list-pointer-item">
                <a class="link link-secondary" href="../page-help-center-categories.html">Budgeting and Analytics</a>
                </li>
                <li class="list-pointer-item">
                <a class="link link-secondary" href="../page-help-center-categories.html">Exchanging money</a>
                </li>
                <li class="list-pointer-item">
                <a class="link link-secondary" href="../page-help-center-categories.html">How do I get help with the theme I purchased?</a>
                </li>
                <li class="list-pointer-item">
                <a class="link link-secondary" href="../page-help-center-categories.html">What version of Bootstrap are the themes built on?</a>
                </li>
            </ul>
            <!-- End List -->
            </div>
            <!-- End Card -->
        </div>
        </div>
        <!-- End Col -->
    </div>
    <!-- End Row -->
    </div>
    <!-- End Info -->

    <!-- List -->
    <div class="container content-space-b-1">
    <div class="row justify-content-lg-end">
        <div class="col-lg-8">
        <hr class="my-5">

        <!-- Heading -->
        <div class="mb-4">
            <h4>Articles associés</h4>
        </div>
        <!-- End Heading -->

        <div class="row">
            <div class="col-sm-6">
            <!-- List -->
            <ul class="list-pointer mb-2">
                <li class="list-pointer-item">
                <a class="link link-secondary" href="../page-help-center-categories.html">What methods of payments are supported?</a>
                </li>
                <li class="list-pointer-item">
                <a class="link link-secondary" href="../page-help-center-categories.html">How do I get a receipt for my purchase?</a>
                </li>
                <li class="list-pointer-item">
                <a class="link link-secondary" href="../page-help-center-categories.html">How can I get a refund?</a>
                </li>
            </ul>
            <!-- End List -->
            </div>
            <!-- End Col -->

            <div class="col-sm-6">
            <!-- List -->
            <ul class="list-pointer mb-2">
                <li class="list-pointer-item">
                <a class="link link-secondary" href="../page-help-center-categories.html">Which license do I need?</a>
                </li>
                <li class="list-pointer-item">
                <a class="link link-secondary" href="../page-help-center-categories.html">How do I get access to a theme I purchased?</a>
                </li>
                <li class="list-pointer-item">
                <a class="link link-secondary" href="../page-help-center-categories.html">Upgrade License Type</a>
                </li>
            </ul>
            <!-- End List -->
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
        </div>
        <!-- End Col -->
    </div>
    <!-- End Row -->
    </div>
    <!-- End List -->
  

  
  <script>
    
  </script>
</body>
{% endblock %}
