{% extends 'base.html.twig' %}

{% block title %}OLING{% endblock %}

{% block body %}
<body>
      <!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
    <!-- Features -->
    <div class="overflow-hidden">
        <div class="container content-space-3">
            <div class="row align-items-lg-center">
                {# <div class="col-lg-7 me-auto ms-lg-n10 mb-5 mb-lg-0">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <img class="img-fluid rounded-3" src="/img/580x480/img1.jpg" alt="Image Description">
                        </div>
                        <!-- End Col -->
                        <div class="col-3">
                            <img class="img-fluid rounded-3" src="/img/350x700/img1.jpg" alt="Image Description">
                        </div>
                        <!-- End Col -->
                        <div class="col-5">
                            <img class="img-fluid rounded-3" src="/img/400x700/img1.jpg" alt="Image Description">
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->
                </div>
                <!-- End Col --> #}
                <div class="col-lg-5">
                    <div class="mb-3">
                        <h2>Un partenaire expert pour une transformation adaptée à votre métier</h2>
                        <p></p>
                    </div>
                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->
        </div>
    </div>
    <!-- End Features -->


    <!-- Description -->
    <div class="container content-space-0">
    <h5>Services publiques</h5>
        <div class="row mb-5">
            <div class="col-6">
                <ul class="list-checked list-checked-soft-bg-primary">
                <li class="list-checked-item">Conception de schéma directeur SI et digitalisation</li>
                <li class="list-checked-item">Conformité ISO RGPD PCA</li>
                <li class="list-checked-item">Audit et étude SI (Infrastructure, serveur, réseau, téléphonie)</li>
                </ul>
            </div>
            <!-- End Col -->

            <div class="col-6">
                <ul class="list-checked list-checked-soft-bg-primary">
                <li class="list-checked-item">Appuie à l’intégration d’applications métier/li>
                <li class="list-checked-item">Délégation de service SI</li>
                </ul>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->

        <div class="mb-3">
        <i class="bi-circle-square fs-2 text-dark"></i>
        </div>

        <h5>Négoces et distribution</h5>

        <div class="row mb-5">
            <div class="col-6">
                <ul class="list-checked list-checked-soft-bg-primary">
                <li class="list-checked-item">Audit et conseil SI et Organisation</li>
                <li class="list-checked-item">Accompagnement à l’intégration de solutions applicatives métiers CRM, ERP (achat, logistique, finance)</li>
                <li class="list-checked-item">Organisation de la collaboration sur Office 365</li>

                </ul>
            </div>
            <!-- End Col -->

            <div class="col-6">
                <ul class="list-checked list-checked-soft-bg-primary">
                <li class="list-checked-item">Audit et conseil SI et Organisation</li>
                <li class="list-checked-item">Management de transition SI, Conformité, etc.</li>
                </ul>
        </div>
        <!-- End Col -->
        </div>
        <!-- End Row -->

        <div class="mb-3">
            <i class="bi-circle-square fs-2 text-dark"></i>
        </div>

        <h5>Education</h5>

        <div class="row mb-5">
            <div class="col-6">
                <ul class="list-checked list-checked-soft-bg-primary">
                <li class="list-checked-item">Conformité QSE, Qualiopi, RGPD</li>
                <li class="list-checked-item">Digitalisation des processus et des documents/li>

                </ul>
            </div>
            <!-- End Col -->

            <div class="col-6">
                <ul class="list-checked list-checked-soft-bg-primary">
                <li class="list-checked-item">Expertises et audit</li>
                <li class="list-checked-item">Recherche de programmes et élaboration des dossiers de candidatures et de demande de subventions</li>
                </ul>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <!-- End Description -->
</main>
<!-- ========== END MAIN CONTENT ========== -->
</body>
{% endblock %}
