{% extends 'base.html.twig' %}

{% block title %}RGPD - OLING{% endblock %}
{% block meta_description %}Politique générale de protection des données personnelles{% endblock %}

{% block body %}
  

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Content -->
    <div class="container content-space-2 content-space-lg-3">
      <div class="w-lg-75 mx-lg-auto">
        <!-- Card -->
        <div class="card card-lg card-shadow">
          <!-- Header -->
          <div class="card-header bg-dark">
            <h1 class="card-title h2 text-white">Présentation de la politique générale d'utilisation et de protection des données personnelles</h1>
            <p class="card-text text-white">Dernière mise à jour : Jeudi 13 avril 2023</p>
          </div>
          <!-- End Header -->

          <!-- Card Body -->
          <div class="card-body">
            <div class="mb-7">
              <h4>Objet de la politique</h4>

              <p>L’objectif de cette politique est de fournir une protection adéquate pour les transferts et le traitement automatique ou manuel des données personnelles effectués par la société OLING Management et Technologies, en conformité avec les réglementations existantes.</p>

              <p>Cette Politique peut être modifiée, complétée ou mise à jour afin notamment de se conformer à toutes évolutions légales, réglementaires, jurisprudentielles ou techniques. Cependant, les données personnelles des personnes concernées seront toujours traitées conformément à la Politique en vigueur au moment de leur collecte, sauf si une prescription légale impérative venait à en disposer autrement et serait d’application rétroactive.</p>

              <p>Des explications complémentaires sur les finalités pour lesquelles les données personnelles seront utilisées peuvent être fournies à chaque point de collecte des données personnelles, si nécessaire. La Politique fait partie intégrante des Conditions Générales d’Utilisation du Site internet www.oling.fr et des Conditions Générales d’Intervention.</p>

            </div>

            <div class="mb-7">
              <h4>Propriété intellectuelle</h4>
              <p>L'ensemble des éléments constituant le site oling.fr (textes, images, logos, vidéos, icônes, mise en page, charte graphique, base de données, etc.) est la propriété exclusive d'OLING ou de ses partenaires, et est protégé par les lois françaises et internationales relatives aux droits d'auteur et à la propriété intellectuelle. Toute reproduction, représentation, modification, publication, adaptation ou exploitation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite sans l'autorisation écrite préalable d'OLING.</p>
            </div>

            <div class="mb-7">
              <h4> Engagements d'OLING en matière de protection des données personnells et de respect de la vie privée</h4>
              <ul>
              <li>la minimisation de la collecte des données ;</li>
              <li>le pilotage de la qualité des données personnelles ;</li>
              <li>la définition des rôles et responsabilités associés aux données traitées ;</li>
              <li>la mise en place de dispositifs de sécurité informatique.</li>
              </ul>
            </div>

            <div class="mb-7">
                <h4>Responsable de la collecte de données personnelles</h4>
                <p>Le responsable de traitement est la personne en charge d’un ou de plusieurs traitements de données à caractère personnel, dont il détermine les finalités. OLING Management et Technologies est responsable de l’ensemble des traitements de données à caractère personnel effectuées sur le site www.oling.fr ou lors de la réalisation de missions spécifiques chez nos clients.</p>
                <p>Afin de gérer les traitements de données personnelles qu’elle met en œuvre, OLING Management et Technologies a nommé un Data Protection Officer (ci-après DPO). Le DPO permet de garantir la conformité de OLING Management et Technologies à la Réglementation nationales et européenne. Le DPO s’assure que toutes les précautions utiles ont été prises pour préserver la sécurité des données personnelles et, notamment, empêcher qu’elles soient déformées, endommagées, ou que des personnes non autorisées y aient accès. La désignation d’un DPO témoigne de l’engagement de OLING Management et Technologies en faveur du respect de la vie privée et des droits des Utilisateurs dont les données personnelles sont traitées.</p>
            </div>

            <div class="mb-7">
              <h4>Finalité des données collectées faisant l'objet d'un traitement</h4>
              <p>La plupart des services proposés sur le site internet www.oling.fr ne requièrent aucune forme d’inscription, ce qui permet à l’Utilisateur de visiter le Site sans avoir à s’identifier. Cependant, certains services peuvent nécessiter la collecte de données personnelles. Dans ces cas, si l’Utilisateur choisit de ne pas communiquer les informations qui lui sont demandées, il se peut que l’Utilisateur ne puisse pas accéder à certaines parties du Site, et que OLING Management et Technologies soit dans l’impossibilité de répondre à sa demande. Les services ci-après font, en particulier l’objet de collecte et enregistrement.</p>
                <ul>
                    <li>Gestion de salariés et des prestataires (Paie, Contrats, GPEEC)</li>
                    <li>Recrutement (candidature à une offre d’emploi ou de stage)</li>
                    <li>Gestion des données clients (Données personnelles des salariés et des fournisseursde nos clients)</li>
                    <li>Prospection et animation commerciale
                        <ul>
                        <li>Abonnement à la newsletter</li>
                        <li>Participation à des événements commerciaux</li>
                        <li>Réponses à des enquêtes</li>
                        </ul>
                        </li>
            </div>

            <div class="mb-7">
              <h4>Types de données collectées faisant l'objet d'un traitement</h4>
              <p>OLING Management et Technologies est susceptible de collecter et traiter toute ou partie des données suivantes</p>
              <ul>
                <li>Les données que l’Utilisateur fournit en remplissant des formulaires</li>
                <li>Nom, prénom, genre, date de naissance de l’Utilisateur</li>
                <li>Téléphone adresse email, adresse postale (personnel et professionnel)</li>
                <li>Matériel informatique utilisé pour la navigation et adresse IP.</li>
              </ul>
            </div>

            <div class="mb-7">
              <h4>Recueil et traitement des données personnelles</h4>
              <p>Les personnes concernées sont informées du traitement de leurs données personnelles par une mention apposée sur le site Internet de la société www.oling.fr.<br>
Lorsque des données personnelles sont recueillies, OLING Management et Technologies communique aux personnes concernées :</p>
              <ul>
                <li>L’identité du responsable du traitement et, le cas échéant, de celle de son représentant, La finalité des traitements mis en œuvre ainsi que de la durée de conservation de ces données,</li>
                <li>Le caractère obligatoire ou facultatif des réponses ainsi que des conséquences éventuelles d’un défaut de réponse,</li>
                <li>Les destinataires ou catégories de destinataires des données,</li>
                <li>Ses droits d’accès, de rectification et d’opposition relatifs aux données personnelles et à leur traitement.</li>
              </ul>
              <p>A chaque fois que le consentement n’est pas inhérent et nécessaire à la fourniture du service selon la demande de l’utilisateur, le consentement de l’utilisateur sera demandé explicitement après que l’utilisateur soit informé quant aux finalités, aux données traitées, aux destinataires des traitements ainsi que l’ensemble des informations relatives au traitement.
              <br>Dans tous les cas, les réponses apportées ne sont conservées que pendant la durée nécessaire aux finalités pour lesquelles elles ont été collectées et traitées.</p>
            </div>

            <div class="mb-7">
              <h4>Stockage des données</h4>
              <p>Les données personnelles des personnes concernées sont stockées soit dans nos bases de données soit dans celles de nos prestataires de services. Ces données sont stockées uniquement sur des serveurs situés au sein de l’Union Européenne.<br>
Lorsque des données personnelles sont recueillies, OLING Management et Technologies communique aux personnes concernées :</p>
            </div>

            <div class="mb-7">
              <h4>Droits d'accès, de rectification, et d'opposition</h4>
              <p>Chaque fois que la société OLING Management et Technologies traite des données personnelles, elle prend toutes les mesures raisonnables pour s’assurer de l’exactitude et de la pertinence des données personnelles au regard des finalités pour lesquelles elle les collecte. Toute personne concernée, peut obtenir une copie de toutes les données traitées la concernant, si elle en fait la demande, dans un format permettant d’en garantir la portabilité, sans contrainte, à des intervalles raisonnables et sans délai ou frais excessifs.</p>
              <p>Les personnes concernées disposent des droits d’opposition pour motif légitime, d’accès, et de rectification, des données le concernant. Ainsi, la personne concernée peut exiger</p>
              <ul>
                <li>d’obtenir la rectification, l’effacement ou le verrouillage de données, notamment au motif que les données sont incomplètes ou inexactes</li>
                <li>de s’opposer à tout moment, pour des raisons impérieuses et légitimes tenant à sa situation particulière, à ce que des données la concernant fassent l’objet d’un traitement, sauf en cas de dispositions contraires du droit national. Dans toutes les hypothèses où l’opposition est justifiée, le traitement doit être interrompu sans délai,</li>
                <li>d’opposer, à tout moment, les sollicitations directes sur simple demande et sans frais, notamment à des fins de démarchage direct ou de prospection.</li>
              </ul>
              <p>Si les personnes concernées ne souhaitent plus recevoir d’informations de la part de OLING Management et Technologies, ou exercer ses droits, il leur suffit d’adresser une demande à l’adresse contact@oling.fr, en y joignant la copie de leur pièce d’identité valide avec mention de leur date et lieu de naissance. En cas d’exercice du droit d’accès, de rectification ou d’opposition, les données relatives aux pièces d’identité seront systématiquement détruites par la société OLING Management et Technologies une fois la demande traitée.</p>
            </div>

            <div class="mb-7">
              <h4>Transfert de données</h4>
              <p>Certaines données personnelles peuvent également être traitées par des sous-traitants (prestataires de service) auxquels OLING Management et Technologies fait appel dans le cadre de l’exécution du Service et afin de concrétiser les finalités énoncées à l’article 4 de la présente politique.</p>
              <p>OLING Management et Technologies exige de ses prestataires de services qu’ils n’utilisent les données personnelles que pour réaliser les tâches qui leur sont confiées et de toujours agir en conformité avec la réglementation locale applicable en matière de protection de données personnelles et avec la Politique.</p>
            </div>

            <div class="mb-7">
              <h4>Durée de conservation des données</h4>
              <p>Les données à caractère personnel sont conservées pendant une durée limitée qui n’excède pas la durée nécessaire aux finalités de collecte. Ainsi</p>
              <ul>
                <li>Les données des clients utilisées à des fins de prospection commerciale pourront être conservées pendant un délai de trois ans à compter de la fin de la relation commerciale (par exemple du terme d’un contrat de prestations de services ou du dernier contact émanant du client)</li>
                <li>Les données à caractère personnel relatives à un prospect non client peuvent être conservées pendant un délai de trois ans à compter de leur collecte par le responsable de traitement ou du dernier contact émanant du prospect (par exemple, une demande de documentation ou un clic sur un lien hypertexte contenu dans un courriel).</li>
              </ul>
              <p>Au terme de ces délais, le responsable de traitement pourra reprendre contact avec la personne concernée afin de savoir si elle souhaite continuer à recevoir des sollicitations commerciales. En l’absence de réponse positive et explicite de la personne, les données devront être supprimées ou archivées conformément aux dispositions en vigueur, et notamment celles prévues par le code de commerce, le code civil et le code de la consommation.</p>
            </div>

            <div class="mb-7">
              <h4>Cookies</h4>
              <p>Si vous vous rendez sur la page de connexion, un cookie temporaire sera créé afin de déterminer si votre navigateur accepte les cookies. Il ne contient pas de données personnelles et sera supprimé automatiquement à la fermeture de votre navigateur.</p>
              <p>Lorsque vous vous connecterez, nous mettrons en place un certain nombre de cookies pour enregistrer vos informations de connexion et vos préférences d’écran. La durée de vie d’un cookie de connexion est de deux jours, celle d’un cookie d’option d’écran est d’un an. Si vous cochez « Se souvenir de moi », votre cookie de connexion sera conservé pendant deux semaines. Si vous vous déconnectez de votre compte, le cookie de connexion sera effacé.</p>
              <p>En modifiant ou en publiant une publication, un cookie supplémentaire sera enregistré dans votre navigateur. Ce cookie ne comprend aucune donnée personnelle. Il indique simplement l’ID de la publication que vous venez de modifier. Il expire au bout d’un jour.</p>  
            </div>

            <div class="mb-7">
              <h4>Sécurité et confidentiallité</h4>
              <p>La société OLING Management et Technologies prend l’engagement de prendre l’ensemble des mesures d’ordre technique et organisationnel appropriées, afin de protéger les données à caractère personnel contre la destruction accidentelle ou illicite, la perte accidentelle, l’altération, la diffusion ou l’accès non autorisé, notamment lorsque le traitement comporte des transmissions de données via un réseau, ainsi que contre toute autre forme de traitement illicite.</p>
            </div>

            <div class="mb-7">
              <h4>Relation avec les sous traitants</h4>
              <p>Les obligations en matière de sécurité et de confidentialité imposées aux sous-traitants sont contenues dans un contrat de prestation de services.</p>
            </div>

            <div class="mb-7">
              <h4>Programme de formation / sensibilisation</h4>
              <p>La société OLING Management et Technologies dispense à ses salariés ayant un accès permanent ou régulier aux données personnelles et associés à la collecte des données personnelles ou au développement d’outils servant au traitement des données personnelles, une formation adéquate sur l’application des présentes règles internes. La formation est proposée une fois par an aux personnes susceptibles de gérer des données personnelles.</p>
            </div>

          </div>
          <!-- End Card Body -->
        </div>
        <!-- End Card -->
      </div>
    </div>
    <!-- End Content -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  

  <!-- ========== SECONDARY CONTENTS ========== -->
  <!-- Go To -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
     data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": "2rem"
         },
         "show": {
           "bottom": "2rem"
         },
         "hide": {
           "bottom": "-2rem"
         }
       }
     }'>
    <i class="bi-chevron-up"></i>
  </a>

  <!-- JS Plugins Init. -->
  <script>
    
  </script>
{% endblock %}
