{% extends 'base.html.twig' %}

{% block title %}Sécurité des données - OLING{% endblock %}
{% block meta_description %}Politique générale de protection des données personnelles{% endblock %}

{% block body %}
  
<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
  <!-- Content -->
  <div class="container content-space-2 content-space-lg-3">
  <div class="w-lg-75 mx-lg-auto">
    <!-- Card -->
    <div class="card card-lg card-shadow">
      <!-- Header -->
      <div class="card-header bg-dark">
        <h1 class="card-title h2 text-white">Politique de Sécurité de l'Information</h1>
      </div>
      <!-- End Header -->

      <!-- Card Body -->
      <div class="card-body">
        <div class="mb-7">
          <p>L'objectif de cette politique est de définir les principes et les directives en matière de sécurité de l'information au sein de <strong>OLING Management et Technologie</strong> afin de protéger ses actifs informationnels contre toutes menaces internes ou externes, intentionnelles ou accidentelles, afin de garantir la continuité des opérations, minimiser les dommages et maximiser le retour sur les investissements et les opportunités d'affaires.</p>
        </div>

        <div class="mb-7">
          <p>Depuis 10 ans, nous avons des engagements forts de qualité de services et de confiance, renforcés d’un devoir d’exemplarité. La sécurité de l’information est au cœur de l’ADN de notre entreprise. Garantir la <strong>confidentialité</strong>, l’<strong>intégrité</strong>, la <strong>disponibilité</strong>, la <strong>traçabilité</strong> et l’<strong>opposabilité</strong> des données constitue en effet la base des services que nous fournissons au travers de nos prestations.</p>
        </div>

        <div class="mb-7">
          <p>Pour renforcer et objectiver ces notions, notre système de management de la sécurité de l’information est basé sur la norme <strong>ISO/CEI 27001</strong> et couvre les domaines suivants :</p>
          <ul>
            <li>Services AMO SI et organisation</li>
            <li>Services DPO et projets RGPD</li>
          </ul>
        </div>

        <div class="mb-7">
          <p>Ainsi, nous nous engageons auprès des membres de notre écosystème (utilisateurs, clients, salariés, partenaires, actionnaires, sous-traitants) à :</p>
          <ul>
            <li>Suivre et appliquer les meilleures pratiques de sécurité de l’information, le tout encadré par un système de management</li>
            <li>Respecter les exigences règlementaires et légales applicables notamment dans un contexte de protection des données personnelles</li>
            <li>Identifier et gérer les risques liés à la sécurité de l’information</li>
            <li>Œuvrer pour l’amélioration continue de notre système de management de la sécurité de l’information</li>
          </ul>
        </div>

        <div class="mb-7">
          <p>Cette PSI sera revue annuellement ou en cas de changements significatifs au sein de l'organisation ou des exigences légales, pour s'assurer qu'elle reste pertinente, appropriée et efficace.</p>
        </div>

        <div class="mb-7">
          <p><em>Fait le 04 aout 2023 à Baie Mahault</em></p>
          <p><strong>Florestan Rouet</strong></p>
        </div>
      </div>
      <!-- End Card Body -->
    </div>
    <!-- End Card -->
  </div>
</div>

  <!-- End Content -->
</main>
<!-- ========== END MAIN CONTENT ========== -->

  <!-- ========== SECONDARY CONTENTS ========== -->
  <!-- Go To -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
     data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": "2rem"
         },
         "show": {
           "bottom": "2rem"
         },
         "hide": {
           "bottom": "-2rem"
         }
       }
     }'>
    <i class="bi-chevron-up"></i>
  </a>

  <!-- JS Plugins Init. -->
  <script>
    
  </script>
{% endblock %}
