{% extends 'base.html.twig' %}

{% block title %}RSE - OLING{% endblock %}
{% block meta_description %}Nos engagements vis à vis du RSE{% endblock %}

{% block body %}

      <!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
    <!-- Description -->
    <div class="container content-space-3">
        <div class="linear rounded-3 p-9 mb-10">
            <div class="row">
                <div class="col-md-6 mb-7 mb-lg-0">
                    <span class="badge bg-soft-light text-wrap mb-3"><i class="bi-stars me-1"></i> Responsabilité sociétale des entreprises</span>
                    <div class="w-md-75 mb-5">
                        <h2 class="text-white">Nos engagements RSE</h2>
                        <p class=""></p>
                    </div>
                </div>
                <!-- End Col -->


            </div>
            <!-- End Row -->
        </div>



        <div id="listOfSocialLinks" class="position-relative">
            <div class="row mb-3">
                <div class="col-10 col-md-7 col-lg-7 offset-1 offset-md-4">
                    <p>La responsabilité sociétale des entreprises (RSE) est au cœur des préoccupations d'OLING. Cette charte présente les engagements que nous prenons pour contribuer à un développement économique, social et environnemental durable, en cohérence avec nos valeurs et notre mission. Elle s'applique à l'ensemble des activités et des parties prenantes d'OLING.</p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-10 col-md-7 col-lg-7 offset-1 offset-md-4">
                    <h4>Éthique et intégrité</h4>
                    <ul>
                        <li>Nous nous engageons à respecter les lois et les réglementations en vigueur dans tous les pays où nous opérons.</li>
                        <li>Nous favorisons une culture d'intégrité, de transparence et d'honnêteté au sein de notre entreprise.</li>
                        <li>Nous luttons activement contre toutes formes de corruption, de discrimination et de harcèlement.</li>
                    </ul>
                </div>
                <!-- End Col -->
            </div>
            <div class="row mb-3">
                <div class="col-10 col-md-7 col-lg-7 offset-1 offset-md-4">
                    <h4>Gouvernance et management responsable</h4>
                    <ul>
                        <li>Nous mettons en place une gouvernance d'entreprise transparente, efficace et respectueuse des droits de nos actionnaires, clients et partenaires.</li>
                        <li>Nous intégrons les enjeux de la RSE dans notre stratégie et notre gestion des risques.</li>
                        <li>Nous favorisons l'innovation et la créativité pour répondre aux défis sociétaux et environnementaux.</li>
                    </ul>
                </div>
                <!-- End Col -->
            </div>
            <div class="row mb-3">
                <div class="col-10 col-md-7 col-lg-7 offset-1 offset-md-4">
                    <h4>Respect des droits de l'homme </h4>
                    <ul>
                        <li>Nous respectons et protégeons les droits de l'homme et les droits des travailleurs, conformément aux principes du Pacte mondial des Nations Unies et aux normes internationales du travail.</li>
                        <li>Nous veillons à ce que nos partenaires commerciaux partagent ces mêmes valeurs et les appliquent dans leurs activités.</li>
                    </ul>
                </div>
                <!-- End Col -->
            </div>
            <div class="row mb-3">
                <div class="col-10 col-md-7 col-lg-7 offset-1 offset-md-4">
                    <h4>Équité et diversité</h4>
                    <ul>
                        <li>Nous promouvons l'égalité des chances et l'équité dans nos pratiques de recrutement, de formation et de promotion interne.</li>
                        <li>Nous valorisons la diversité et l'inclusion au sein de notre entreprise, en encourageant la mixité et la représentation de toutes les catégories socioprofessionnelles.</li>
                    </ul>
                </div>
                <!-- End Col -->
            </div>
            <div class="row mb-3">
                <div class="col-10 col-md-7 col-lg-7 offset-1 offset-md-4">
                    <h4>Dialogue et engagement auprès des parties prenante</h4>
                    <ul>
                        <li>Nous établissons un dialogue constructif et transparent avec nos clients, fournisseurs, partenaires, collaborateurs et toutes les parties prenantes concernées par notre activité.</li>
                        <li>Nous nous engageons à contribuer au développement des communautés locales et à soutenir des projets d'intérêt général.</li>
                    </ul>
                </div>
                <!-- End Col -->
            </div>
            <div class="row mb-3">
                <div class="col-10 col-md-7 col-lg-7 offset-1 offset-md-4">
                    <h4>Protection de l'environnement</h4>
                    <ul>
                        <li>Nous nous engageons à réduire notre empreinte environnementale et à promouvoir des pratiques durables dans l'ensemble de nos activités.</li>
                        <li>Nous sensibilisons nos collaborateurs et nos partenaires aux enjeux environnementaux et les encourageons à adopter des comportements écoresponsables.</li>
                        <li>Nous mettons en œuvre des solutions innovantes pour économiser les ressources naturelles, réduire les déchets et limiter les émissions de gaz à effet de serre.</li>
                    </ul>
                </div>
                <!-- End Col -->
            </div>
            <div class="row mb-3">
                <div class="col-10 col-md-7 col-lg-7 offset-1 offset-md-4">
                    <h4>Suivi et évaluation</h4>
                    <ul>
                        <li>Nous mettons en place des indicateurs de performance et des processus de reporting pour mesurer notre progrès en matière de RSE.</li>
                        <li>Nous évaluons régulièrement notre conformité aux engagements de cette charte et ajustons notre stratégie en conséquence.</li>
                    </ul>
                </div>
                <!-- End Col -->
            </div>
            <div class="row mb-3">
                <div class="col-10 col-md-7 col-lg-7 offset-1 offset-md-4">
                    <p>En adoptant cette charte RSE, OLING réaffirme son engagement en faveur d'un développement durable et responsable, dans l'intérêt de l'ensemble de ses parties</p>
                </div>
            </div>
            

            {% include '/includes/sticky.html.twig' %}
    

            <!-- End Sticky End Point -->
            <div id="stickyBlockEndPointEg1"></div>
        </div>
    </div>
    <!-- End COntainer -->
    
</main>
<!-- ========== END MAIN CONTENT ========== -->

{% endblock %}
