{% extends 'base.html.twig' %}

{% block title %}OLING{% endblock %}

{% block body %}
<body>

    <!-- Hero -->
    <div class="bg-gradient-to-bottom-sm-light">
    <div class="container content-space-t-3 content-space-t-lg-4">
        <div class="w-lg-65 text-center mx-lg-auto mb-5 mb-lg-10">
        <span class="text-cap">Service</span>
        <h1>UV Violet glass</h1>
        <p class="lead">UV offers online retailers a suite of services including payments, marketing, shipping and customer engagement tools.</p>
        </div>

        <img class="img-fluid" src="/img/900x450/img1.jpg" alt="Image Description">
    </div>
    </div>
    <!-- End Hero -->


    <!-- Description -->
    <div class="container content-space-3">
    <div class="row justify-content-lg-between">
        <div class="col-lg-8 order-lg-2">
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-7">
            <li class="breadcrumb-item">
                <a href="../page-help-center.html">Help Center</a>
            </li>
            <li class="breadcrumb-item">
                <a href="../page-help-center-categories.html">Getting started</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">What's Unify?</li>
            </ol>
        </nav>
        <!-- End Breadcrumb -->

        <div class="mb-4">
            <h2 class="h4">What's Unify?</h2>
            <p>How Unify works, what it can do for your business and what makes it different to other solutions.</p>
        </div>

        <!-- Media -->
        <div class="d-flex align-items-center mb-4">
            <div class="flex-shrink-0">
            <img class="avatar avatar-circle" src="/img/160x160/img10.jpg" alt="Image Description">
            </div>

            <div class="flex-grow-1 ms-3">
            <h6 class="mb-0">Andrea</h6>

            <ul class="list-inline list-separator fs-5 mb-0">
                <li class="list-inline-item">
                <span>3 months ago</span>
                </li>
                <li class="list-inline-item">
                Updated
                </li>
            </ul>
            </div>
        </div>
        <!-- End Media -->

        <p>Unify is an incredibly beautiful, fully responsive, and mobile-first projects on the web – it is the perfect starting point for any creative and professional sites. Get started with Unify's components and options for laying out your Unify project, including SVG components, powerful scripts, fully detailed documentation, and yet developer friendly code.</p>

        <h4>Free updates and support</h4>

        <p>We would like to draw your attention to the fact that after purchasing a Unify Template copy, you get the right for a <span class="fw-bold">lifetime</span> entitlement to download updates for <span class="fw-bold">FREE!</span> Need help? For any questions or concerns, reach us out at <a href="mailto:hello@example.com">hello@example.com</a>.</p>

        <ul class="list-py-1">
            <li><span class="fw-bold">Free updates:</span> Unify offers a lifetime free updates. This means you will never pay for any bug-fixes and compatibility upgrades for your theme, ever.</li>
            <li><span class="fw-bold">Technical support:</span> As always, our Customer Support team is available 24/7 to answer any questions you might have. We will do our best to get back to you within <span class="fw-bold">24-48 hours</span>.</li>
        </ul>

        <p>Unify Template is built by the team that has customers in the background such us Stanford University, The University of Maryland, University of Victoria and many more Governments, Corporate Agencies. To bring the most modern look of any HTML5 template across all Marketplaces – powered by Bootstrap 4, Unify sets the new standard with breathtaking design, top-notch support, and incredible featured packed updates that will save your precious time and gives trendy look to all your web projects. On top of that the creators of Bootstrap have closely monitored the ongoing process of the Unify and helped to achieve an enormous result.</p>

        <div class="bg-soft-primary text-center rounded py-10 px-5 mt-10">
            <div class="mb-3">
            <h5>Was this article helpful?</h5>
            </div>

            <div class="d-flex justify-content-center gap-3 mb-3">
            <button type="button" class="btn btn-primary">
                <i class="bi-hand-thumbs-up me-1"></i> Yes, thanks!
            </button>
            <button type="button" class="btn btn-soft-dark">
                <i class="bi-hand-thumbs-down me-1"></i> Not, really
            </button>
            </div>

            <p class="small mb-0">93 out of 132 found this helpful</p>
        </div>

        <!-- End Sticky End Point -->
        <div id="stickyBlockEndPointEg3"></div>
        </div>
        <!-- End Col -->

        <div class="col-lg-3 d-none d-lg-block">
        <div id="stickyBlockStartPointEg3">
            <!-- Card -->
            <div class="js-sticky-block"
                data-hs-sticky-block-options='{
                "parentSelector": "#stickyBlockStartPointEg3",
                "targetSelector": "#header",
                "breakpoint": "lg",
                "startPoint": "#stickyBlockStartPointEg3",
                "endPoint": "#stickyBlockEndPointEg3",
                "stickyOffsetTop": 20
            }'>
            <h5>Getting started</h5>

            <!-- List -->
            <ul class="list-pointer list-pointer-secondary">
                <li class="list-pointer-item">
                <a class="link link-secondary" href="../page-help-center-categories.html">Managing my account</a>
                </li>
                <li class="list-pointer-item">
                <a class="link link-secondary" href="../page-help-center-categories.html">Budgeting and Analytics</a>
                </li>
                <li class="list-pointer-item">
                <a class="link link-secondary" href="../page-help-center-categories.html">Exchanging money</a>
                </li>
                <li class="list-pointer-item">
                <a class="link link-secondary" href="../page-help-center-categories.html">How do I get help with the theme I purchased?</a>
                </li>
                <li class="list-pointer-item">
                <a class="link link-secondary" href="../page-help-center-categories.html">What version of Bootstrap are the themes built on?</a>
                </li>
            </ul>
            <!-- End List -->
            </div>
            <!-- End Card -->
        </div>
        </div>
        <!-- End Col -->
    </div>
    <!-- End Row -->
    </div>
    <!-- End Info -->

    <!-- List -->
    <div class="container content-space-b-2">
    <div class="row justify-content-lg-end">
        <div class="col-lg-8">
        <hr class="my-10">

        <!-- Heading -->
        <div class="mb-4">
            <h4>Related articles</h4>
        </div>
        <!-- End Heading -->

        <div class="row">
            <div class="col-sm-6">
            <!-- List -->
            <ul class="list-pointer mb-2">
                <li class="list-pointer-item">
                <a class="link link-secondary" href="../page-help-center-categories.html">What methods of payments are supported?</a>
                </li>
                <li class="list-pointer-item">
                <a class="link link-secondary" href="../page-help-center-categories.html">How do I get a receipt for my purchase?</a>
                </li>
                <li class="list-pointer-item">
                <a class="link link-secondary" href="../page-help-center-categories.html">How can I get a refund?</a>
                </li>
            </ul>
            <!-- End List -->
            </div>
            <!-- End Col -->

            <div class="col-sm-6">
            <!-- List -->
            <ul class="list-pointer mb-2">
                <li class="list-pointer-item">
                <a class="link link-secondary" href="../page-help-center-categories.html">Which license do I need?</a>
                </li>
                <li class="list-pointer-item">
                <a class="link link-secondary" href="../page-help-center-categories.html">How do I get access to a theme I purchased?</a>
                </li>
                <li class="list-pointer-item">
                <a class="link link-secondary" href="../page-help-center-categories.html">Upgrade License Type</a>
                </li>
            </ul>
            <!-- End List -->
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
        </div>
        <!-- End Col -->
    </div>
    <!-- End Row -->
    </div>
    <!-- End List -->
  

  
  <script>
    
  </script>
</body>
{% endblock %}
