{% extends 'base.html.twig' %}

{% block title %}OLING{% endblock %}

{% block body %}
<body>
      <!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">



    <!-- Description -->
    <div class="container content-space-3">

        <div class="bg-dark rounded-3 p-9 mb-10">
            <div class="row">
                <div class="col-md-6 mb-7 mb-lg-0">
                    <span class="badge bg-soft-light text-white text-wrap mb-3"><i class="bi-stars me-1"></i> Expertises métier</span>
                    <div class="w-md-75 mb-5">
                    <h2 class="text-white">Une composée équipe d'experts pluridisciplinaire</h2>
                    <p class="text-white-70"></p>
                    </div>
                </div>
                <!-- End Col -->

                <div class="col-md-6">
                    
                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->
        </div>

        <div id="listOfSocialLinks" class="position-relative">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2">
                <div class="col mb-10">
                    <!-- Team -->
                    <div class="w-sm-65 text-center mx-auto">
                        <img class="img-fluid rounded-3 mb-4" src="/img/350x350/img4.jpg" alt="Image Description">
                        <h5 class="mb-1">Florestan ROUET</h5>
                        <span class="d-block">Founder / CEO</span>
                    </div>
                    <!-- End Team -->
                </div>
                <!-- End Col -->

                <div class="col mb-10">
                    <!-- Team -->
                    <div class="w-sm-65 text-center mx-auto">
                        <img class="img-fluid rounded-3 mb-4" src="/img/350x350/img5.jpg" alt="Image Description">
                        <h5 class="mb-1">Dorothée Maitrias</h5>
                        <span class="d-block">UI/UX Designer</span>
                    </div>
                    <!-- End Team -->
                </div>
                <!-- End Col -->

                <div class="col mb-10">
                    <!-- Team -->
                    <div class="w-sm-65 text-center mx-auto">
                        <img class="img-fluid rounded-3 mb-4" src="/img/350x350/img9.jpg" alt="Image Description">
                        <h5 class="mb-1">Karine Crève-Coeur</h5>
                        <span class="d-block">Support Consultant</span>
                    </div>
                    <!-- End Team -->
                </div>
                <!-- End Col -->

                <div class="col mb-10">
                    <!-- Team -->
                    <div class="w-sm-65 text-center mx-auto">
                        <img class="img-fluid rounded-3 mb-4" src="/img/350x350/img7.jpg" alt="Image Description">
                        <h5 class="mb-1">Julien PUJOL</h5>
                        <span class="d-block">Director of sales</span>
                    </div>
                    <!-- End Team -->
                </div>
                <!-- End Col -->

                <div class="col mb-10">
                    <!-- Team -->
                    <div class="w-sm-65 text-center mx-auto">
                        <img class="img-fluid rounded-3 mb-4" src="/img/350x350/img8.jpg" alt="Image Description">
                        <h5 class="mb-1">Antoine de BOISFLEURY</h5>
                        <span class="d-block">Front-end Developer</span>
                    </div>
                    <!-- End Team -->
                </div>
                <!-- End Col -->

                <div class="col mb-10">
                    <!-- Team -->
                    <div class="w-sm-65 text-center mx-auto">
                        <img class="img-fluid rounded-3 mb-4" src="/img/350x350/img6.jpg" alt="Image Description">
                        <h5 class="mb-1">Manuel FEUILLARD</h5>
                        <span class="d-block">UI/UX Designer</span>
                    </div>
                    <!-- End Team -->
                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->

            {% include '/includes/sticky.html.twig' %}

    
            <!-- End Sticky End Point -->
            <div id="stickyBlockEndPointEg1"></div>
        </div>
        <!-- End Description -->

        
        
    </div>
    <!-- End Description -->
</main>
<!-- ========== END MAIN CONTENT ========== -->
</body>
{% endblock %}
