{% extends 'base.html.twig' %}

{% block title %}OLING{% endblock %}

{% block body %}
<body>
      <!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">



    <!-- Description -->
    <div class="container content-space-3">

        <div class="bg-dark rounded-3 p-9 mb-10">
            <div class="row">
                <div class="col-md-6 mb-7 mb-lg-0">
                    <span class="badge bg-soft-light text-white text-wrap mb-3"><i class="bi-stars me-1"></i> Expertises métier</span>
                    <div class="w-md-75 mb-5">
                    <h2 class="text-white">Une composée équipe d'experts pluridisciplinaire</h2>
                    <p class="text-white-70"></p>
                    </div>
                </div>
                <!-- End Col -->

                <div class="col-md-6">

                    
                    
                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->
        </div>

        <div id="listOfSocialLinks" class="position-relative">
            <div class="row mb-3">
                <div class="col-10 col-md-7 col-lg-7 offset-1 offset-md-4">
                    <h4>Expertise et passion au service de vos projets !</h4>
                    <p>Au sein d'OLING, notre équipe dynamique et passionnée est prête à relever tous les défis. Composée d'experts chevronnés et de talents prometteurs, nous sommes animés par la soif de réussite et le désir d'accompagner nos clients vers l'excellence. 
                    <br />Nous mettons notre expertise, notre savoir-faire et notre dévouement au service de chaque projet, transformant les ambitions de nos clients en réalités concrètes. Ensemble, nous cultivons la réussite et savourons chaque victoire. <p>
                    <p>Rejoignez-nous et laissez-vous porter par notre élan d'enthousiasme et de professionnalisme !</p>
                    <div class="d-flex align-items-center mb-3">
                        
                        <div class="flex-grow-1 mt-5 ms-3">
                            <div class="d-flex justify-content-between align-items-center">
                            <h6>Florestan Rouet</h6>
                            </div>
                        </div>
                    </div>
                    <p>Florestan Rouet est le directeur d'OLING et un consultant expert en SI avec 20 ans d'expérience. Il apporte une solide expertise en gestion de projet et en stratégie informatique pour aider nos clients à relever les défis du numérique.</p>
                                   <div class="d-flex align-items-center mb-3">
                        
                        <div class="flex-grow-1 mt-5 ms-3">
                            <div class="d-flex justify-content-between align-items-center">
                            <h6>Dorothée Maitrias</h6>
                            </div>
                        </div>
                    </div>
                    <p>Dorothée Maitrias, Directrice financière et consultante senior, cumule 20 ans d'expérience en conformité QSE, avec un passé professionnel marqué par l'industrie automobile et la formation professionnelle auprès de grandes entreprises. Son expertise est essentielle pour soutenir les clients d'OLING dans leurs démarches de conformité et d'amélioration continue.</p>

                    <div class="d-flex align-items-center mt-5 mb-3">
                        
                        <div class="flex-grow-1 mt-5 ms-3">
                            <div class="d-flex justify-content-between align-items-center">
                            <h6>Antoine de Boisfleury</h6>
                            </div>
                        </div>
                    </div>
                    <p>Antoine de Boisfleury, avec 5 ans d'expérience, est un chef de projet SI compétent et responsable SI délégué. Il joue un rôle clé dans la réussite des projets informatiques menés par OLING.</p>
                    <div class="d-flex align-items-center mb-3">
                        
                        <div class="flex-grow-1 mt-5 ms-3">
                            <div class="d-flex justify-content-between align-items-center">
                            <h6>Manuel Feuillard</h6>
                            </div>
                        </div>
                    </div>
                    <p>Manuel Feuillard est consultant QSE et spécialiste de la digitalisation. Son expertise est précieuse pour accompagner les clients dans leur transformation numérique et la mise en place de processus qualité, sécurité et environnement.</p>
                    <div class="d-flex align-items-center mb-3">
                        
                        <div class="flex-grow-1 mt-5 ms-3">
                            <div class="d-flex justify-content-between align-items-center">
                            <h6>Karine Crève-coeur</h6>
                            </div>
                        </div>
                    </div>
                    <p>Karine Crève Cœur est consultante senior en finance et chef de projet. Elle utilise son expertise financière pour guider les clients d'OLING vers des solutions optimisées et adaptées à leurs besoins.</p>
                    <div class="d-flex align-items-center mb-3">
                        
                        <div class="flex-grow-1 mt-5 ms-3">
                            <div class="d-flex justify-content-between align-items-center">
                            <h6>Julien Pujol</h6>
                            </div>
                        </div>
                    </div>
                    <p>Julien Pujol est un expert en intégration d'ERP avec 10 ans d'expérience. Son savoir-faire dans les domaines du Grand Port, des Grands Comptes, de la finance et de la BI est un atout majeur pour les projets ERP d'OLING.</p>

                    <div class="d-flex align-items-center mb-3">
                        
                        <div class="flex-grow-1 mt-5 ms-3">
                            <div class="d-flex justify-content-between align-items-center">
                            <h6>Gilbert Rinaldo</h6>
                            </div>
                        </div>
                    </div>
                    <p>Gilbert Rinaldo, Chef de projet Senior, possède 30 ans d'expérience auprès de grands comptes. Sa vaste expérience permet à OLING de mener à bien des projets complexes et de garantir la satisfaction de ses clients.</p>
                </div>
            </div>

            {% include '/includes/sticky.html.twig' %}

    
            <!-- End Sticky End Point -->
            <div id="stickyBlockEndPointEg1"></div>
        </div>
        <!-- End Description -->

        
        
    </div>
    <!-- End Description -->
</main>
<!-- ========== END MAIN CONTENT ========== -->
</body>
{% endblock %}
